html, body {
    background-color: rgb(210, 125, 210);
    min-height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-size: 35px;
}

pre {
    text-align: center;
    padding: 10px;
}

.container-form {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 5%;
}


.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.form > textarea {
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 3%; */
    padding-block: 3%; 
    gap: 5rem;
}

.font-select {
    flex: 1;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 18px;
}

.btn-submit {
    flex: 1;
    height: 50px;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 18px;
}

.btn-submit:hover {
    background-color: rgb(226, 222, 222);
}

.result {
    border: 1px solid black;
    border-spacing: 100px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    display: inline-block;
    padding: 10px;
}

.error-stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.error-stuff > h2 {
    padding-block-end: 2%;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70%; */
}

.error > h1 {
    font-size: 25px;
}