{{template "header" }}

<h1>ASCII ART WEB</h1>
<div class="container-form">
    <form action="/ascii-art" method="POST" class="form">
        <textarea name="input" cols="30" rows="10" maxlength="400" required></textarea>
        <div class="container">
            <select name="font" class="font-select">
                <option value="standard">Standard</option>
                <option value="thinkertoy">Thinkertoy</option>
                <option value="shadow">Shadow</option>
              </select>
            <input type="submit" class="btn-submit">
        </div>
    </form>
</div>

{{if .Output}}
<div class="result">
    <pre>{{.Output}}</pre>
</div>
{{end}}

{{template "footer" }}